body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
  }

#basic p {font-weight: bold;}
h1{
  /* フォント指定 */
  font-family: "Josefin Sans", sans-serif;
  /* フォントサイズ　ルート要素の２倍 */
  font-size: 2rem;
  /* 文字間 */
  letter-spacing: 1.2em;
  /* 影 */
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  /* 下線 */
  border-bottom: 3px solid rgb(115,115,114);
}
.blue{color: skyblue;}
.pink{color: rgb(255,192,203);}