h1{
    margin: 0;
    color: rgb(255, 255, 255);
}

p{
    margin: 0;
    font-size: 20px;
}

body{
    margin: 0;
}

a{
    font-size: 20px;
}

header{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align-last: center;
}

main{
    margin: 10px;
}

#parent{
    display: flex;
    justify-content: space-around;
}

.contents{
    border: 3px solid rgb(207, 204, 238);
    flex-basis: 20%;
}